<aside class="d-flex flex-column h-full app-sidebar" [ngClass]="{'active': toggle}">
  <div class="logo">
    <img src="assets/images/logo.svg" alt="">
  </div>
  <div class="main-nav d-flex flex-grow-1" role="navigation">
    <ul class="d-flex flex-column flex-grow-1 px-0 pb-40px">
      <li *ngFor="let item of mainNav">
        <a routerLink="{{item.link}}" routerLinkActive="active">
          <span class="ic-{{item.icon}}"></span>
          <span>{{ item.menuItem }}</span>
        </a>
      </li>
    </ul>
  </div>

</aside>
<button type="button" class="nav-button" (click)="clickEvent($event)" [ngClass]="{'active': toggle}">
  <span class="bar bar1"></span>
  <span class="bar bar2"></span>
  <span class="bar bar3"></span>
  <span class="bar bar4"></span>
</button>

